.modal {
    &-dialog {
        width: 100%;
        max-width: 960px;
    }

    &-body {
        background: linear-gradient(0deg, rgba(166, 126, 255, 0.10) 0%, rgba(166, 126, 255, 0.10) 100%), url('../img/bg-banner.png'), lightgray 0px -513.027px / 100% 1200% no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 45px 55px;
        position: relative;

        .btn-close {
            position: absolute;
            right: 14px;
            top: 14px
        }
    }

    &-title {
        @include text($bold, 34px, 44.2px, $primary);
        margin-bottom: 15px;
    }

    &-description {
        @include text($medium, 18px, 23.404px, $dark);
        margin-bottom: 15px;
    }

    &-list {
        position: relative;

        &-item {
            list-style-type: none;
            @include text($regular, 15px, 19.503px, $dark);
            margin-bottom: 10px;

            &-icon {
                left: -18px;
                position: absolute;
            }

            span {
                font-weight: $medium;
            }
        }

        &-item:last-child {
            margin-bottom: 0;
        }
    }

    .form {
        max-width: 260px;

        .form-control {

            height: 50px;
            padding-top: 17px;
            padding-bottom: 17px;
            @include text($regular, 14px, 18.2px, #4A4A53)
        }

        .form-label {
            @include text($regular, 13px, 16.9px, #9E9E9E)
        }

        .form-select {

            height: 50px;
            padding-top: 17px;
            padding-bottom: 17px;
            @include text($regular, 13px, 16.9px, #9E9E9E)
        }
    }

    &-footer-text {
        @include text($regular, 12px, 130%, $dark);
    }

    &-footer-text-form {
        @include text($regular, 10px, 13.002px, #4A4A53);

        a {
            color: #4a4a53;
        }
    }
}